* {
    margin: 0;
    padding: 0;
}

body {
    /*height: 100vh; /* when sections will be defined - delete this*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

#logo {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.header {
    flex: 0 0 60px;
    background-color: rgb(250, 239, 205);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
}

.nav-bar {
    display: flex;
    gap: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.section {
    flex: 0 1 300px;
    background-color: gray;
    padding: 0 20%;
}

.footer {
    flex: 0 0 80px;
    background-color: rgb(250, 239, 205);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #292929;
}

.content {
    flex: 1;
    /*background-color: aqua;*/
}

a {
    text-decoration: none;
    color: #3f3f3f;
}

ul {
    list-style: none;
}