

/* ----- TYPE SELECTORS ----- */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #3f3f3f;
}

ul {
    list-style: none;
}

hr {
    width: 50%;
    margin: 50px auto;
}


/* ----- HEADER CSS ----- */

#logo {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.header {
    flex: 0 0 60px;
    background-color: rgb(250, 239, 205);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20%;
}

.nav-bar {
    display: flex;
    gap: 24px;
}


/* ----- MAIN CONTENT CSS ----- */

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.section {
    flex: 0 1 300px;
    padding: 30px 20%;
    display: flex;
    align-items: center;
}

.first-section {
    gap: 30px;
    justify-content: space-between;
}

.first-section-image {
    width: 45%;
    height: auto;
    border-radius: 20px;
}

.first-section-text-content {
    height: 80%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.second-section {
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
}

.second-section-subsection {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.second-section-image {
    width: 200px;
    height: auto;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.third-section {
    flex-direction: column;
    gap: 30px;
}

.fourth-section{
    justify-content: center;
}

.sign-up-box {
    display: flex;
    background-color: #3882F6;
    width: 60%;
    border-radius: 10px;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.sign-up-box-text-area {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/* ----- FOOTER CSS ----- */

.footer {
    flex: 0 0 80px;
    background-color: rgb(250, 239, 205);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #292929;
}


/* ----- TEXT CSS ----- */

.bold-title-text {
    font-size: 48px;
    color: black;
    font-weight: 700;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bold-article-text {
    font-size: 36px;
    margin: 0 auto 50px auto;
}

.simple-text {
    font-size: 17px;
    color: rgb(20, 20, 20);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    align-self: flex-start;
}

.quote-author {
    font-size: 16px;
    font-weight: 700;
    color: black;
    align-self: flex-end;
    margin: 0 20px;
}

.sign-up-box-header {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sign-up-box-text {
    font-size: 14px;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* ----- BUTTON CSS ----- */

.sign-up {
    width: 100px;
    height: 60px;
    background-color: #3882F6;
    font-size: 17px;
    color: white;
    border: 0;
    border-radius: 5px;
}

.sign-up-inside-box{
    border: 2px solid white;
    height: 40px;
}